<!-- <h1 id="h1" class="text-center bg-dark text-light p-5"> {{title}} </h1>
<h1 appHostlistenerdirective> Hover Hover </h1>

<app-structural-directives></app-structural-directives>
<interpolation-and-assignment></interpolation-and-assignment>
<app-event-binding></app-event-binding>
<property-binding></property-binding>


<app-form-component></app-form-component>
<hr>
<h2>ANG LIFECYCLE</h2>
<app-parent-lcycle></app-parent-lcycle>
<app-header-component></app-header-component>


<hr>
<h2>BANKING APP</h2>
<app-bank></app-bank> -->



<!-- <app-template-driven></app-template-driven> -->
<!-- <app-footer></app-footer> -->

<!-- <app-main-basic></app-main-basic> -->

<app-main-ang-routing></app-main-ang-routing>
<app-reactive-form></app-reactive-form>
<router-outlet></router-outlet>